<div class="as-search-wrapper" role="main">
        <div style="display:block; width:500px; text-align:center; flex-direction:column; margin:100px auto; background: #ccc; padding:50px; border-radius:4px">
            <h1>Compra en espera</h1>
            <h2>Estado: {{status}}</h2>
            <p>Método de pago: {{payment}}</p>
            <p>Órden de compra: {{merchantOrder}}</p>
            <p>Email: {{externalReference}}</p>
            <p>Tipo de pago: {{paymentType}}</p>
            <a href="/" >Continuar</a>
        </div>
    </div>
</div>
<div role="alert" class="as-loader-text ally" aria-live="assertive"></div>